/* Default styles for larger screens */
.card-t {
    margin: 25px auto 0px auto;
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: row;
    font-family: 'David Libre';
    align-items: center;
    border: 1px solid #942D2D;
    background-color: #EBF2D5;
}

.wrp-t {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mrow-t {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.in-t {
    width: 55%;
    height: 80%;
    margin: 0px;
    font-size: 15px;
    padding-left: 10px;
    margin-left: 10px;
    border: 1px solid #942D2D;
    font-family: 'Darker Grotesque';
    background: #FFF;
}

.row-t {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    font-family: 'David Libre';
    font-size: 150%;
    font-weight: 800;
}

.te-t {
    color: #942D2D;
    font-family: 'Darker Grotesque';
    font-size: 25px;
    font-weight: 400;
    margin: 0px;
}

.cat-t {
    color: #942D2D;
    margin: 0px;
    font-family: 'Darker Grotesque';
    font-size: 15px;
    font-weight: 300;
}

.wrp-t {
    margin: 0px;
}

.modal-t,
.overlay-t {
    width: 100vw;
    height: 100vh;
}

.overlay-t {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(42, 42, 42, 0.573);
}


.content-t {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    line-height: 1.4;
    background: #EBF2D5;
    width: 45%;
    height: 45%;
    padding: 14px 28px;
    border: 1px solid #942D2D;
}

.but-t {
    padding: 2px 10px 2px 10px;
    border-radius: 0px;
    width: 17%;
    height: 10%;
    border: 1px solid #942D2D;
    background-color: #EBF2D5;
    color: #942D2D;
    font-family: 'Darker Grotesque';
    font-size: 20px;
}
.wrp-2-t{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.but-t:hover {
    background-color: #942D2D;
    color: #EBF2D5;
}

.bu-fo-t {
    display: flex;
    flex-direction: row;
}

.but2-list-t {
    padding: 0px 10px 0px 10px;
    border-radius: 0px;
    height: 115%;
    width: 20%;
    margin: 0px;
    flex-shrink: 0;
    border: 1px solid #942D2D;
    color: #942D2D;
    background-color: #EBF2D5;
    font-family: 'Darker Grotesque';
    font-size: 125%;
}

.but2-list-t:hover {
    padding: 0px 10px 0px 10px;
    border-radius: 0px;
    height: 115%;
    margin: 0px;
    flex-shrink: 0;
    width: 20%;
    background-color: #942D2D;
    color: #EBF2D5;
    font-family: 'Darker Grotesque';
    cursor: pointer;
    font-size: 125%;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 800px) {
    .card-t {
        width: 80%; /* Adjust the width for smaller screens */
    }

    .content-t {
        width: 80%; /* Adjust the width for smaller screens */
        height: 60%; /* Adjust the height for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
    }
    .in-t{
        width: 50%; /* Decrease the width for smaller screens */
        height: 80%;
        font-size: 14px; /* Decrease the font size */
    }
    .row-t {
        font-size: 14px; /* Decrease font size for smaller screens */
    }
    .content-t{
        width: 80%; /* Increase the width for smaller screens */
        height: 70%; /* Increase the height for smaller screens */
        font-size: 14px; /* Decrease the font size */
    }
    .te-t {
        font-size: 22px; /* Decrease font size for smaller screens */
    }
    .cat-t{
        font-size: 12px; /* Decrease font size for smaller screens */
    }
    .but-t{
        font-size: 12px;
    }
    .but2-list-t {
        width: 35%;
        font-size: 12px;
    }

    .but2-list-t:hover {
        width:35%;
        font-size: 12px;}
    /* Add more responsive styles as needed */
}
