.buttonComponent {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 100%;
        font-family: Darker Grotesque;
        font-size: large;
        font-weight: bolder;
        margin: 0.4rem;
    }
    
    .buttonComponent {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 2rem;
    }
    
    .primary {
        color: #fff;
        background-color: #942d2d;
        transition: background-color 0.3s ease;
        border: none;
        border-radius: 5px;
        &:hover {
            background-color: rgba($color: #942d2d, $alpha: 0.9);
        }
    }
    
    .secondary {
        color: #fff;
        background-color: #000;
        transition: background-color 0.3s ease;
        border: none;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.8);
        }
    }
    
    .tertiary {
        color: #942d2d;
        background-color: #EBF2D5;
        border: 1.5px solid #942d2d;
        transition: background-color 0.3s ease;
        &:hover {
            color: #EBF2D5;
            background-color: #942d2d;
            border: none;
        }
    }
    
    .button4 {        
        color: #EBF2D5;
        background-color: #942D2D;
        border: none;
        transition: background-color 0.3s ease;
        &:hover {
            color: #942D2D;
            background-color: #EBF2D5;
            transform: scale(1.06); 
            border: 1px solid;
        }
    }
    
    .button5 {
        color: #942D2D;
        background-color: #EBF2D5;
        border: 1px solid #942D2D;
        border-radius: 0;
        box-shadow: none;
        &:hover {
            color: #EBF2D5;
            background-color: #942D2D;
            border: none;
        }
    }
}