.logout {
    width: 160px;
}


.menu-icon {
    cursor: pointer;
    font-size: 20px;
    margin: 0px;
    color: #942D2D;
}

.rest-name:hover {
    cursor: pointer;
}

.navbar {
    font-size: '20px';
}

@media (max-width: 900px) {
    .logout {
        width: 150px;
    }
    .css-ffja5s {
        margin-right: 0px;
    }
    .menu-icon {
        color: #942D2D;
        margin-right: 0px;
      }
}

@media (max-width: 1000px) {
    .navbar {
        font-size: 15px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');